src/base/flows/Create_Delegation_Assets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create Delegation Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Delegation/No Onboarding Assets</label>
    <loops>
        <name>Loop_BT_Products</name>
        <label>Loop BT Products</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <collectionReference>ALLBTProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Bill_to_BT_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Billing_Queue_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Loop_BT_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Loop_BT_Products.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BD_Owner__c</field>
            <value>
                <elementReference>Loop_BT_Products.Opportunity__r.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BT_Product__c</field>
            <value>
                <elementReference>Loop_BT_Products.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill__c</field>
            <value>
                <elementReference>Create_Bill</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Loop_BT_Products.Opportunity__r.Primary_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Loop_BT_Products.Account__r.Name} {!Loop_BT_Products.Node__r.Protocol__r.Name} {!Loop_BT_Products.Node__r.Node_Family__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price</field>
            <value>
                <elementReference>Loop_BT_Products.Sub_Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Loop_BT_Products.Node__r.Node_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Protocol__c</field>
            <value>
                <elementReference>Loop_BT_Products.Node__r.Protocol__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PurchaseDate</field>
            <value>
                <elementReference>Loop_BT_Products.Opportunity__r.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Loop_BT_Products.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Bill</name>
        <label>Create Bill</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>GetAllBTProducts</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Contact__c</field>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Frequency__c</field>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Start_Date__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.Account.Name}_{!$Record.RecordType.Name}_{!$Record.CloseDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Bill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Billing_Case</name>
        <label>Create Billing Case</label>
        <locationX>176</locationX>
        <locationY>1391</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill__c</field>
            <value>
                <elementReference>Create_Bill</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Primary_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This customer did not need to be onboarded, but this Billing case has been created to give you visibility on their new Bill.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>BillingQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BillingPipelineRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Bill - {!$Record.Account.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Billing_Pipeline_Rec_Type_Id</name>
        <label>Get Billing Pipeline Rec Type Id</label>
        <locationX>176</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Billing_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing_Pipeline</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>BillingPipelineRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Billing_Queue_Id</name>
        <label>Get Billing Queue Id</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Billing_Pipeline_Rec_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing_Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>BillingQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetAllBTProducts</name>
        <label>GetAllBTProducts</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_BT_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>BT_Product__c</object>
        <outputReference>ALLBTProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Sub_Total__c</queriedFields>
        <queriedFields>Node__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Add_Bill_to_BT_Product</name>
        <label>Add Bill to BT Product</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Create_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill__c</field>
            <value>
                <elementReference>Create_Bill</elementReference>
            </value>
        </inputAssignments>
        <object>BT_Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Previously_Closed</name>
        <label>Set Previously Closed</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Create_Bill</targetReference>
        </connector>
        <inputAssignments>
            <field>Previously_Closed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Previously_Closed</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delegation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Onboarding_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <filters>
            <field>Previously_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ALLBTProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BT_Product__c</objectType>
    </variables>
    <variables>
        <name>BillingPipelineRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
