src/base/flows/TA_Lead_SetCustomDescription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Custom_Description</name>
        <label>Set Custom Description</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>record.Lead_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_standardDescription</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Custom_and_Standard_Description</name>
        <label>Custom and Standard Description</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_both_are_different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>for_standardDescription</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>record.Lead_Description__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Custom_Description</targetReference>
            </connector>
            <label>Yes, both are different</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Store Lead Description first 255 character</description>
        <name>for_standardDescription</name>
        <dataType>String</dataType>
        <expression>LEFT({!record.Description}, 255)</expression>
    </formulas>
    <interviewLabel>TA_Lead_SetCustomDescription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TA_Lead_SetCustomDescription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Custom_and_Standard_Description</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
