src/base/flows/TA_Opportunity_MapFromConvertedRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Update_Fields_on_Opportunity_Record</name>
        <label>Update Fields on Opportunity Record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead_Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Converted_Contact.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Converted_Lead_Id</name>
        <label>Check Converted Lead Id</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record.Converted_Lead_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Record</targetReference>
            </connector>
            <label>Has Value</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TA_Opportunity_MapFromConvertedRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TA_Opportunity_MapFromConvertedRecords</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Converted_Contact</name>
        <label>Get Converted Contact</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Fields_on_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Converted_Lead_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Converted_Lead_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Record</name>
        <label>Get Lead Record</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Converted_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record.Converted_Lead_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Converted_Lead_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
