src/baseUnpackaged/flows/Create_Billing_Case_and_Assets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Onboarding_Email</name>
        <label>Send Onboarding Email</label>
        <locationX>618</locationX>
        <locationY>645</locationY>
        <actionName>Case.Onboarding_Complete_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <interviewLabel>Create Billing Case and Assets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Billing Case and Assets</label>
    <loops>
        <name>Loop_BT_Products</name>
        <label>Loop BT Products</label>
        <locationX>617</locationX>
        <locationY>460</locationY>
        <collectionReference>Get_BT_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_BT_Product_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Onboarding_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>790</locationX>
        <locationY>597</locationY>
        <connector>
            <targetReference>Loop_BT_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Loop_BT_Products.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BT_Product__c</field>
            <value>
                <elementReference>Loop_BT_Products.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill__c</field>
            <value>
                <elementReference>Loop_BT_Products.Bill__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Loop_BT_Products.Bill__r.Billing_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Loop_BT_Products.Account__r.Name} - {!Loop_BT_Products.Node__r.Protocol__r.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price</field>
            <value>
                <elementReference>Loop_BT_Products.Sub_Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Loop_BT_Products.Opportunity__r.Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Protocol__c</field>
            <value>
                <elementReference>Loop_BT_Products.Node__r.Protocol__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PurchaseDate</field>
            <value>
                <elementReference>Loop_BT_Products.Bill__r.Billing_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Loop_BT_Products.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Billing_Case</name>
        <label>Create Billing Case</label>
        <locationX>313</locationX>
        <locationY>573</locationY>
        <connector>
            <targetReference>Get_BT_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill__c</field>
            <value>
                <elementReference>$Record.Bill__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Bill__r.Billing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This customer has been onboarded and this Billing case has been created to give you visibility.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G4W000006WuDB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124W000001b7wjQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Bill - {!$Record.Account.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>50</locationX>
        <locationY>477</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BT_Products</name>
        <label>Get BT Products</label>
        <locationX>440</locationX>
        <locationY>460</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_BT_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BT_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Previously_Closed</name>
        <label>Set Previously Closed</label>
        <locationX>106</locationX>
        <locationY>301</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Previously_Closed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>69</locationX>
        <locationY>620</locationY>
        <connector>
            <targetReference>Update_BT_Product_Bill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_As_Of__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_As_Of__c</field>
            <value>
                <elementReference>$Record.ClosedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BT_Product_Bill</name>
        <label>Update BT Product Bill</label>
        <locationX>187</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>Create_Billing_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill__c</field>
            <value>
                <elementReference>$Record.Bill__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BT_Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BT_Product_Case</name>
        <label>Update BT Product Case</label>
        <locationX>792</locationX>
        <locationY>459</locationY>
        <connector>
            <targetReference>Create_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Billing_Case</elementReference>
            </value>
        </inputAssignments>
        <object>BT_Product__c</object>
    </recordUpdates>
    <start>
        <locationX>118</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Previously_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124W000001b7XgQAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Previously_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>