src/baseUnpackaged/flows/Opportunity_Market_Data_Renewal_Reminder_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>MDA Opportunity 30 Days Email Alert</description>
        <name>MDA_Opportunity_30_Days_Email_Alerts</name>
        <label>MDA Opportunity 30 Days Email Alert</label>
        <locationX>578</locationX>
        <locationY>516</locationY>
        <actionName>Opportunity.MDA_Opportunity_30_Days_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update30DayReminderCheckbox_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>MDA Opportunity 60 Days Email Alert</description>
        <name>MDA_Opportunity_60_Days_Email_Alert</name>
        <label>MDA Opportunity 60 Days Email Alert</label>
        <locationX>314</locationX>
        <locationY>516</locationY>
        <actionName>Opportunity.MDA_Opportunity_60_Days_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update60DayReminderCheckbox_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MDA_Opportunity_90_Days_Email_Alert</name>
        <label>MDA Opportunity 90 Days Email Alert</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <actionName>Opportunity.MDA_Opportunity_90_Days_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>X90_Day_Email_Alert_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>X90_days_reminder</name>
        <label>90 days reminder</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X90_Day_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NintyDaysElapsed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Market_Data_Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_90_Day_Reminder__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Negotiation</targetReference>
            </connector>
            <label>90 Day Reminder</label>
        </rules>
        <rules>
            <name>X60_Day_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SixtyDayElapsed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Market_Data_Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_60_Day_Reminder__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Negotiation_0</targetReference>
            </connector>
            <label>60 Day Reminder</label>
        </rules>
        <rules>
            <name>X30_Day_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThirtyDayElapsed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Market_Data_Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_30_Day_Reminder__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Negotiation_0_0</targetReference>
            </connector>
            <label>30 Day Reminder</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NintyDaysElapsed</name>
        <dataType>Boolean</dataType>
        <expression>Today() + 90 = ({!$Record.CloseDate})</expression>
    </formulas>
    <formulas>
        <name>SixtyDayElapsed</name>
        <dataType>Boolean</dataType>
        <expression>Today() + 60 =  ({!$Record.CloseDate})</expression>
    </formulas>
    <formulas>
        <name>ThirtyDayElapsed</name>
        <dataType>Boolean</dataType>
        <expression>Today() + 30 =  ({!$Record.CloseDate})</expression>
    </formulas>
    <interviewLabel>Opportunity Market Data Renewal Reminder Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Market Data Renewal Reminder Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update30DayReminderCheckbox_0_0</name>
        <label>Update 30 Day Reminder Checkbox</label>
        <locationX>578</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>Opportunity_30_Day_Reminder__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update60DayReminderCheckbox_0</name>
        <label>Update 60 Day Reminder Checkbox</label>
        <locationX>314</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>Opportunity_60_Day_Reminder__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Negotiation</name>
        <label>Update Opportunity Negotiation</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>MDA_Opportunity_90_Days_Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Renewal Negotiation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Negotiation_0</name>
        <label>Update Opportunity Negotiation</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>MDA_Opportunity_60_Days_Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Renewal Negotiation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Negotiation_0_0</name>
        <label>Update Opportunity Negotiation</label>
        <locationX>578</locationX>
        <locationY>396</locationY>
        <connector>
            <targetReference>MDA_Opportunity_30_Days_Email_Alerts</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Renewal Negotiation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X90_Day_Email_Alert_Check</name>
        <label>90 Day Email Alert Check</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>Opportunity_90_Day_Reminder__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X90_days_reminder</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR  3 )</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Original_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Renewal</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-05-18</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
